@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<p>Paskverdo pasikeitimas</p>
<p id ="error"></p>
<form>
    <fieldset class="form-group">
    <label for="oldPassword">Old password</label>
    <input type="password" class="form-control" id="oldPassword">
    </fieldset>
    <fieldset class="form-group">
    <label for="newPassword">New password</label>
    <input type="password" class="form-control" id="newPassword">
    </fieldset>
    <fieldset class="form-group">
    <label for="newPasswordConfirmation">New passsword confirmation</label>
    <input type="password" class="form-control" id="newPasswordConfirmation">
    </fieldset>
    <button class="btn btn-primary" type="button" id="changePass" onclick="changePassword();">Change</button>
</form>

<p>Adminui prieinami setingai</p>
@{
    if(@Model.IsAdmin) {
        <form id="adminSettings">
            @foreach(VidsNet.Models.Setting item in (List<VidsNet.Models.Setting>)@Model.AdminSettings) {
                <fieldset class="form-group">
                    <label for="@item.Name">@item.Description</label>
                    <input type="text" class="form-control" id="@item.Id" value="@item.Value">
                </fieldset>
            }
            <button class="btn btn-primary" type="button" onclick="updateAdminSettings();">Update</button>
        </form>
    }
}
<p>Userio settingai</p>
<form id="userSettings">
@{
    @foreach(VidsNet.Models.UserSetting item in (List<VidsNet.Models.UserSetting>)@Model.UserSettings) {
        <fieldset class="form-group">
            <label for="@item.Name">@item.Description</label>
            <input type="text" class="form-control" id="@item.Id" value="@item.Value">
        </fieldset>
    }
    <button class="btn btn-primary" type="button" onclick="updateUserSettings();">Update</button>
}
</form>