@using VidsNet.DataModels;
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@{
    <p>New items:</p>
    <p>
    @foreach(ScanItem item in (List<ScanItem>)@Model.Data.NewItems) {
        <div>@item.Id. @item.Path // @item.Type</div><br />
    }
    </p>
    <p>&nbsp;</p>
    <p>Deleted items:</p>
    @foreach(ScanItem item in (List<ScanItem>)@Model.Data.DeletedItems) {
        <div>@item.Id. @item.Path // @item.Type</div><br />
    }
}