@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@{
    <p>New items:</p>
    <p>
    @foreach(VidsNet.DataModels.Item item in (List<VidsNet.DataModels.Item>)@Model.Data.NewItems) {
        <div>@item.Id. @item.Path // @item.Type</div><br />
    }
    </p>
    <p>&nbsp;</p>
    <p>Deleted items:</p>
    @foreach(VidsNet.DataModels.Item item in (List<VidsNet.DataModels.Item>)@Model.Data.DeletedItems) {
        <div>@item.Id. @item.Path // @item.Type</div><br />
    }
}